.container{background-color:#f4f4f4}
.btn-default {
    padding: 5px;
    font-size: 11pt;
    margin:16px;
    width:110px;
    margin:0px 16px 0px 0px;
}
.row
{
    margin-bottom:30px;    
}
.colorswatch
{
    width:30px;
    height:30px;
    margin-right:20px;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}