html, body, div, span, object, form, input, h1, h2, button, label, a, img
{
    -moz-user-select: none;
    -webkit-user-select: none; /* this will work for QtWebKit in future */
    -webkit-user-drag: none;
}

.container
{
    background-color:#f4f4f4;
    padding-left:100px;
}

button.environment
{
    height:170px;
    width:170px;
    margin:22px;
}

.environment img{
    height:150px;
    width:150px;
}

button.category
{
    height:170px;
    width:170px;
    margin:22px;
}
button.object
{
    height:170px;
    width:170px;
    margin:22px;
}

.row
{
    margin-bottom:30px;    
}
.colorswatch
{
    width:30px;
    height:30px;
    margin-right:20px;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.colorswatch.active
{
    margin-bottom: 10px;
}