<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
<style>
.container{background-color:#f4f4f4}
.btn-default {
    padding: 20px 20px 20px 20px;
    font-size: 14pt;
    width:152px;
    height:152px;
    margin:16px;
    }
</style>
<!-- Latest compiled and minified JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>   
</head>
  <body>
    <div class="container">
        <h1 class="text-center">What did you see?</h1>
        <div class="text-left">
            <button type="button" class="btn btn-default">Category 1</button>
            <button type="button" class="btn btn-default">Category 2</button>
            <button type="button" class="btn btn-default">Category 3</button>
            <button type="button" class="btn btn-default">Category 4</button>
            <button type="button" class="btn btn-default">Category 5</button>
            <button type="button" class="btn btn-default">Category 6</button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../vendor/jquery/jquery.js"></script>
  </body>
</html>