<h1 class="text-center reward">Well Done on Your Discovery!</h1>
<br /><br />
<div class="text-center reward">
    <img src="img/score.png" />
    <br /><br /><br />
    <h2>You're a Nature Explorer</h2>
</div>
<div class="text-left">
    <div><br/></div>
    <h1>Your Discoveries</h1>
    <div>
        <% _.each(collection, function(object) 
        {
        %>
        <div class="row text-center">
            <div class="span3"><%- object.environment_name %> ==></div>
            <div class="span3"><%- object.category_name %> ==></div>
            <div class="span3"><%- object.object_name %></div>
        </div>
        <%
        });
        %>
    </div>