<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">
<style>
.container{background-color:#f4f4f4}
.btn-default {
    padding: 20px 20px 20px 20px;
    font-size: 14pt;
    width:200px;
    height:200px;
    margin:15px;
    }
</style>
<!-- Latest compiled and minified JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>   
</head>
  <body>
    <div class="container">
        <h1 class="text-center">Where are you?</h1>
        <div class="text-center">
            <button type="button" class="btn btn-default">In the Garden</button>
            <button type="button" class="btn btn-default">In the Car</button>
            <button type="button" class="btn btn-default">Out and About</button>
            <button type="button" class="btn btn-default">At the Beach</button>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../vendor/jquery/jquery.js"></script>
  </body>
</html>