<div class="container">
    <form id="object_properties_form">
        <h1 class="text-center">Tell me more about it?</h1>
        <div class="text-left">
            <div class="row">
                <div class="span3">How big was it?</div>
                <div class="span9">
                    <p>As big as a...</p>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button name="size" type="button" class="btn" value="Mouse">Mouse</button>
                        <button name="size" type="button" class="btn" value="Dog">Dog</button>
                        <button name="size" type="button" class="btn" value="Hippo">Hippo</button>
                        <button name="size" type="button" class="btn" value="Camel">Camel</button>
                        <button name="size" type="button" class="btn" value="Giraffe">Giraffe</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">What colour was it?</div>
                <div class="span9">
                    <div class="colour-btn-group">
                        <button name="colour" type="button" class="colorswatch" style="background-color:#6F4315;" value="1"></button>
                        <button name="colour" type="button" class="colorswatch" style="background-color:#DA842A;" value="2"></button>
                        <button name="colour" type="button" class="colorswatch" style="background-color:#c676da;" value="3"></button>
                        <button name="colour" type="button" class="colorswatch" style="background-color:#12d34b;" value="4"></button>
                        <button name="colour" type="button" class="colorswatch" style="background-color:#3dae41;" value="5"></button>
                        <button name="colour" type="button" class="colorswatch" style="background-color:#009900;" value="6"></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">Where did you see it?</div>
                <div class="span9">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button name="position" type="button" class="btn btn-default" value="On the Ground">On the Ground</button>
                        <button name="position" type="button" class="btn btn-default" value="On a Plant">On a Plant</button>
                        <button name="position" type="button" class="btn btn-default" value="In a Tree">In a Tree</button>
                        <button name="position" type="button" class="btn btn-default" value="In the Sky">In the Sky</button>
                        <button name="position" type="button" class="btn btn-default" value="Inside">Inside</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">Did you take a photo?</div>
                <div class="span9">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button name="source"  style="width:150px;" type="button" class="btn btn-default btn-lg" value="existing-photo">
                            <span class="icon icon-search"></span> Choose One
                        </button>
                        <button name="source" style="width:150px;" type="button" class="btn btn-default btn-lg" value="new-photo">
                            <span class="icon icon-camera"></span> Take a photo
                        </button>
                    </div>
                </div>
            </div>
            <div class="span4 offset4">
                <button class="submit" type="button" class="btn btn-large btn-block">Record Your Discovery</button>
            </div>
        </div>
    </form>
</div>
